.a-upload{
    padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #019241;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.a-upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
#diploma{
    position: relative;
    width: 547px;
    min-height: 398px;
    background: url('../images/b.png');
    background-size: 100%;
}
#diploma span{
    display: inline-block;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
}
/**图片信息定位**/
.useName{
    top: 136px;
    width: 64px;
    left: 56px;
}
.works{
    top: 177px;
    width: 112px;
    left: 181px;
}
.bussiness{
    top: 207px;
    left: 57px;
    width: 243px;
}
.grade{
    top: 205px;
    left: 426px;
}
.yelar{
    top: 274px;
    left: 186px;
}
.month{
    top: 274px;
    left: 240px;
}
.data{
    top: 274px;
    left: 270px;
}
.avatar{
    display: inline-block;
    width: 81px;
    height: 99px;
    position: absolute;
    top: 68px;
    left: 394px;
}
.avatar img{
    width: 100%;
    height: 100%;
}

